In [1]:
import pandas as pd

In [2]:
people = {
    'first':['sanjai','sanju'],
    'last':['sanju','sanjai'],
    'mail':['sanjai@gmail.com','sanju@gmail.com']
}

In [3]:
df = pd.DataFrame(people)

In [4]:
fltr = df['last']=='sanju'

In [5]:
fltr

0     True
1    False
Name: last, dtype: bool

In [6]:
df[fltr]

    first   last              mail
0  sanjai  sanju  sanjai@gmail.com

In [7]:
df.loc[fltr]

    first   last              mail
0  sanjai  sanju  sanjai@gmail.com

In [8]:
df.loc[fltr,'mail']

0    sanjai@gmail.com
Name: mail, dtype: object

In [10]:
df = pd.read_csv("C:/Users/ASUS/Desktop/python(ml)/data/survey_results_public.csv")
schema_df = pd.read_csv("C:/Users/ASUS/Desktop/python(ml)/data/survey_results_schema.csv")

In [11]:
df
schema_df

,qid,qname,question,force_resp,type,selector
0,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
1,QID127,Age,What is your age?*,True,MC,SAVR
2,QID296,Employment,Which of the following best describes your cur...,True,MC,MAVR
3,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
4,QID341,Check,Just checking to make sure you are paying atte...,True,MC,SAVR
...,...,...,...,...,...,...
82,QID337,JobSatPoints_7,"Learning and using new technology, including p...",NaN,MC,MAVR
83,QID337,JobSatPoints_8,"Designing and building environments, databases...",NaN,MC,MAVR
84,QID337,JobSatPoints_9,"Being a power user of a tool, developer langua...",NaN,MC,MAVR
85,QID337,JobSatPoints_10,Working with new and/or top-quality hardware,NaN,MC,MAVR
86,QID337,JobSatPoints_11,A well-staffed/sourced internal network that m...,NaN,MC,MAVR

In [ ]:
h